<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="{% url 'main' %}">Main Page</a>
    </div>
    {% block content %}
        <div>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        </div>
    {% endblock %}
    {% if user.is_superuser %}
        <a href="{% url 'add_product' %}">Add Product</a>
        <a href="{% url 'check_returns' %}">Check all returns</a>
        <a href="{% url 'products' %}">Check all products</a>
    {% endif %}
</body>
</html>